<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Pay My Buddy</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <button type="submit" class="btn btn-success">Pay My Buddy</button>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="index.html" class="nav-link active" aria-current="page" th:href="@{/user/index}">Home</a></li>
                    <li class="nav-item"><a href="transfer.html" class="nav-link" th:href="@{/user/transfer}">Transfer</a></li>
                    <li class="nav-item"><a href="profile.html" class="nav-link" th:href="@{/user/profile}">Profile</a></li>
                </ul>

                <div class="col-md-1 text-end" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-outline-primary me-2">Logout</button></form>
                </div>
            </header>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item active" aria-current="page">Home</a></li>
                </ol>
            </nav>
        </div>
        <p>This is the <b>user</b> zone</p>
        <p>Only authenticated users with role <b>USER</b> are allowed to see this page.</p>
    </body>
</html>
