<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Pay My Buddy</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <button type="submit" class="btn btn-success">Pay My Buddy</button>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link" th:href="@{/user/index}">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link" th:href="@{/user/transfer}">Transfer</a></li>
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page" th:href="@{/user/profile}">Profile</a></li>
        </ul>

        <div class="col-md-1 text-end" sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-outline-primary me-2">Logout</button></form>
        </div>
    </header>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Transfer</li>
        </ol>
    </nav>
</div>
<div class="container border">
    <div class="d-flex justify-content-center">
        <table class="table">
            <tbody>
            <tr>
                <td>ID</td>
                <td th:text="${userInfo.id}"> idvalue</td>
            </tr>
            <tr>
                <td>Authority</td>
                <td th:text="${userInfo.authority}">authorityValue</td>
            </tr>
            <tr>
                <td>Balance</td>
                <td th:text="${userInfo.balance}">balanceValue</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="container border">
    <div>
        <h2>Bank Account Transfer</h2>
    </div>
    <div class="d-flex justify-content-center">
        <form class="d-flex justify-content-around" th:action="@{/user/profile}" method="post">
            <div class="form-row d-flex">
                <div class="col-6 col-md-4 ">
                    <select id="bankAccount" name="bankAccount" class="form-control">
                        <option value="0">Select a Bank Account</option>
                        <option th:each="bankAccount : ${bankAccounts}" th:value="${bankAccount}" th:text="${bankAccount}"></option>
                    </select>
                </div>
                <div class="col-6 col-md-4 ">
                    <select id="transferType" name="transferType" class="form-control">
                        <option value="0">Select a transfer type</option>
                        <option th:each="transferType : ${transferTypes}" th:value="${transferType}" th:text="${transferType}"></option>
                    </select>
                </div>
                <div class="col-6 col-md-4">
                    <div class="d-flex">
                        <span class="input-group-text">€</span>
                        <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest euro)">
                        <span class="input-group-text">,00</span>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <button type="submit" class="btn btn-success">Send</button>
                </div>
            </div>
        </form>

    </div>
    <div class="d-flex justify-content-center">
        <p th:if="${transferSuccess}" class="success">Your transfer is successfully done</p>
        <p th:if="${transferError}" th:text="${transferErrorMessage}" class="error"></p>
    </div>
</div>
<div class="container border">
    <div>
        <h2>Add Bank Account</h2>
    </div>
    <div class="d-flex justify-content-center">
        <form class="d-flex justify-content-around" th:action="@{/user/profile/addBankAccount}" method="post">
            <div class="form-row d-flex">
                <div class="col-6 col-md-4">
                    <div class="d-flex">
                        <input type="text" name="iban" class="form-control" aria-label="IBAN (34 characters)">
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="d-flex">
                        <input type="text" name="bic" class="form-control" aria-label="BIC (8 or 11 characters)">
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </div>
        </form>
    </div>
    <div class="d-flex justify-content-center">
        <p th:if="${AddBankAccountSuccess}" class="success">Your Bank Account is successfully add</p>
        <p th:if="${AddBankAccountError}" th:text="${AddBankAccountErrorMessage}" class="error"></p>
    </div>
</div>
</body>
</html>
