<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Pay My Buddy</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <button type="submit" class="btn btn-success">Pay My Buddy</button>
                </a>

                <ul class="nav nav-pills">
                    <li class="nav-item"><a href="#" class="nav-link" aria-current="page" th:href="@{/user/index}">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link active" th:href="@{/user/transfer}">Transfer</a></li>
                    <li class="nav-item"><a href="#" class="nav-link" th:href="@{/user/profile}">Profile</a></li>
                </ul>

                <div class="col-md-1 text-end" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-outline-primary me-2">Logout</button></form>
                </div>
            </header>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-light">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Transfer</li>
                </ol>
            </nav>
        </div>
        <div class="container border">
            <div  class="row">
                <div class="d-flex justify-content-around">
                    <div class="col">
                        <h2>Send Money</h2>
                    </div>
                    <div class="col-6 col-md-4">
                        <p th:if="${addContact}" class="success">Your contact is successfully added</p>
                        <form th:action="@{/user/contact}" method="get"><button type="submit" class="btn btn-outline-primary me-2">Add Connection</button></form>
                    </div>
                </div>
                <div class="w-100"></div>
                <form class="d-flex justify-content-around" th:action="@{/user/transfer}" method="post">
                    <div class="form-row d-flex">
                        <div class="col-6 col-md-4 ">
                            <select id="contact" name="contactId" class="form-control">
                                <option value="0">Select a Connection</option>
                                <option th:each="contact : ${contacts}" th:value="${contact}" th:text="${contact}"></option>
                            </select>
                        </div>
                        <div class="col-6 col-md-4">
                            <div class="d-flex">
                                <span class="input-group-text">€</span>
                                <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest euro)">
                                <span class="input-group-text">,00</span>
                            </div>
                        </div>
                        <div class="col-6 col-md-4">
                            <button type="submit" class="btn btn-success">Pay</button>
                        </div>
                    </div>
                </form>
                <div class="w-100"></div>
                <div class="d-flex justify-content-center">
                        <p th:if="${transferSuccess}" class="success">Your transfer is successfully done</p>
                    <p th:if="${transferError}" th:text="${transferErrorMessage}" class="error"></p>
                </div>
            </div>
        </div>
        <div class="container border">
            <div  class="row">
                <div class="d-flex justify-content-around">
                    <div class="col">
                        <h2>My Transaction</h2>
                    </div>
                </div>
                <div class="w-100"></div>
                <table class="table">
                    <thead>
                    <tr>
                        <th> Connections </th>
                        <th> Description </th>
                        <th> Amount </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="payment : ${payments}">
                        <td><span th:text="${payment.creditor.id}"> Connections </span></td>
                        <td><span th:text="${payment.message}"> Description </span></td>
                        <td><span th:text="${payment.amount}"> Amount </span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
