<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en-GB">
    <head>
        <title>Pay My Buddy</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/main.css}" />
    </head>
    <body>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <button type="submit" class="btn btn-success">Pay My Buddy</button>
                </a>
                <div class="col-md-1 text-end" sec:authorize="isAnonymous()">
                    <form th:action="@{/login}" method="get"><button type="submit" class="btn btn-primary me-2">Login</button></form>
                </div>
            </header>
            <p>This is a public page, but you can log in to navigate to protected pages.</p>
        </div>
    </body>
</html>
