<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
    <head>
        <title>Pay My Buddy</title>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
    <body>
        <div class="container-fluid text-center">
            <img th:src="@{images/logo.png}" alt="logo" class="img-fluid" src="images/logo.png"/>
            <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">
             
                <div class="border border-secondary p-3 rounded">
                    <p>Access to Pay My  Buddy</p>
                    <p>with social account</p>
                    <p th:each="url : ${urls}">
                        <a th:text="${url.key}" th:href="${url.value}">Client</a>
                    </p>
                    <p> OR with basic credentials</p>
                    <p>
                        <label>
                            <input type="username" name="username" class="form-control" placeholder="E-mail" required autofocus/>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required />
                        </label>
                    </p>
                    <p>
                        <input type="checkbox" name="remember-me" id="remember-me"/><label for="remember-me">Remember me</label>
                    </p>
                    <p>
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </p>
                    <p>
                        OR
                    </p>
                    <p><a th:href="@{/signup}">Register</a></p>
                    <p th:if="${loginError}" class="error">Wrong user or password</p>
                    <p th:if="${signUp}" class="success">You are registered</p>
                </div>
            </form>
            <p><a th:href="@{/}">Back to home page</a></p>
        </div>


    </body>
</html>
