<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-GB">
<head>
    <title>Pay My Buddy</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <img th:src="@{images/logo.png}" alt="logo" class="img-fluid"/>
    <form th:action="@{/user/signup}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div class="border border-secondary p-3 rounded">
            <p>Create your credentials</p>
            <p>
                <input type="username" name="username" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required />
            </p>
            <p>
                <input type="submit" value="Register" class="btn btn-primary" />
            </p>
        </div>
    </form>
    <p><a th:href="@{/login}">Back to login page</a></p>
</div>


</body>
</html>
